In [1]:
import fastdup
fd = fastdup.create(work_dir="fastdup_work_dir/test", input_dir="../vehicle_dataset/dataset/vehicle_dataset/val")
fd.run()

fastdup By Visual Layer, Inc. 2024. All rights reserved.

fastdup By Visual Layer, Inc. 2024. All rights reserved.

A fastdup dataset object was created!

Input directory is set to "../vehicle_dataset/dataset/vehicle_dataset/val"
Work directory is set to "fastdup_work_dir/test"

The next steps are:
   1. Analyze your dataset with the .run() function of the dataset object
   2. Interactively explore your data on your local machine with the .explore() function of the dataset object

For more information, use help(fastdup) or check our documentation https://docs.visual-layer.com/docs/getting-started-with-fastdup.

Done: 100%|██████████| 3/3 [00:13<00:00,  4.52s/it]

Analysis complete. Use the .explore() function to interactively explore your data on your local machine.

Alternatively, you can generate HTML-based galleries.
For more information, use help(fastdup) or check our documentation https://docs.visual-layer.com/docs/getting-started-with-fastdup.

0

In [2]:
fd.summary()

 ########################################################################################

Dataset Analysis Summary:

    Dataset contains 678 images
    Valid images are 100.00% (678) of the data, invalid are 0.00% (0) of the data
    Outliers: 6.19% (42) of images are possible outliers, and fall in the bottom 5.00% of similarity values.
    For a detailed list of outliers, use `.outliers()`.

['Dataset contains 678 images',
 'Valid images are 100.00% (678) of the data, invalid are 0.00% (0) of the data',
 'Outliers: 6.19% (42) of images are possible outliers, and fall in the bottom 5.00% of similarity values.',
 'For a detailed list of outliers, use `.outliers()`.\n']

In [3]:
fd.invalid_instances()

Empty DataFrame
Columns: [filename, index, error_code, is_valid, fd_index]
Index: []

In [4]:
connected_components_df , _ = fd.connected_components()
connected_components_df.head()

   index  component_id  count  mean_distance  min_distance  max_distance                                                                                   filename error_code  is_valid  fd_index
0     28            28     22       0.968173      0.960126      0.974445  ../vehicle_dataset/dataset/vehicle_dataset/val/auto-rickshaw/12_19171_15-31-49_031595.jpg      VALID      True        28
1     32            32      4       0.960909      0.960909      0.960909  ../vehicle_dataset/dataset/vehicle_dataset/val/auto-rickshaw/12_30857_15-31-49_029144.jpg      VALID      True        32
2     33            28     22       0.968173      0.960126      0.974445  ../vehicle_dataset/dataset/vehicle_dataset/val/auto-rickshaw/12_43149_15-31-49_032590.jpg      VALID      True        33
3     41            28     22       0.968173      0.960126      0.974445  ../vehicle_dataset/dataset/vehicle_dataset/val/auto-rickshaw/14_13398_15-31-49_029856.jpg      VALID      True        41
4     56            28     22       0.968173      0.960126      0.974445  ../vehicle_dataset/dataset/vehicle_dataset/val/auto-rickshaw/18_23291_15-31-49_029036.jpg      VALID      True        56

In [5]:
# a function to group connected components
def get_clusters(df, sort_by='count', min_count=2, ascending=False):
    # columns to aggregate
    agg_dict = {'filename': list, 'mean_distance': max, 'count': len}

    if 'label' in df.columns:
        agg_dict['label'] = list
    
    # filter by count
    df = df[df['count'] >= min_count]
    
    # group and aggregate columns
    grouped_df = df.groupby('component_id').agg(agg_dict)
    
    # sort
    grouped_df = grouped_df.sort_values(by=[sort_by], ascending=ascending)
    return grouped_df

In [6]:
clusters_df = get_clusters(connected_components_df)
clusters_df.head()

                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                          filename  mean_distance  count
component_id
499           [../vehicle_dataset/dataset/vehicle_dataset/val/truck/10_15209_13-12-37_002179.jpg, ../vehicle_dataset/dataset/vehicle_dataset/val/truck/10_32132_13-12-37_007261.jpg, ../vehicle_dataset/dataset/vehicle_dataset/val/truck/13_7061_14-31-49_038468.jpg, ../vehicle_dataset/dataset/vehicle_dataset/val/truck/16_15467_15-31-49_027265.jpg, ../vehicle_dataset/dataset/vehicle_dataset/val/truck/19_10615_16-01-50_010927.jpg, ../vehicle_dataset/dataset/vehicle_dataset/val/truck/5_13099_13-12-37_004872.jpg, ../vehicle_dataset/dataset/vehicle_dataset/val/truck/6_58739_13-12-37_001709.jpg, ../vehicle_dataset/dataset/vehicle_dataset/val/truck/8_35815_14-31-49_027972.jpg]       0.968806      8
573                                                                                                                                                          [../vehicle_dataset/dataset/vehicle_dataset/val/van/1_2out06-00-07138.png, ../vehicle_dataset/dataset/vehicle_dataset/val/van/1_2out06-30-0566.png, ../vehicle_dataset/dataset/vehicle_dataset/val/van/14_2out07-00-06166.png, ../vehicle_dataset/dataset/vehicle_dataset/val/van/2_2out06-30-08120.png, ../vehicle_dataset/dataset/vehicle_dataset/val/van/3_2out06-30-0516.png, ../vehicle_dataset/dataset/vehicle_dataset/val/van/4_2out06-00-07259.png, ../vehicle_dataset/dataset/vehicle_dataset/val/van/5_2out06-30-08222.png]       0.978347      7
28                                                                                                                              [../vehicle_dataset/dataset/vehicle_dataset/val/auto-rickshaw/12_19171_15-31-49_031595.jpg, ../vehicle_dataset/dataset/vehicle_dataset/val/auto-rickshaw/12_43149_15-31-49_032590.jpg, ../vehicle_dataset/dataset/vehicle_dataset/val/auto-rickshaw/14_13398_15-31-49_029856.jpg, ../vehicle_dataset/dataset/vehicle_dataset/val/auto-rickshaw/18_23291_15-31-49_029036.jpg, ../vehicle_dataset/dataset/vehicle_dataset/val/auto-rickshaw/24_23654_15-31-49_030169.jpg, ../vehicle_dataset/dataset/vehicle_dataset/val/auto-rickshaw/35_26906_15-31-49_032374.jpg]       0.968173      6
306                                                                                                                                                                                                                                            [../vehicle_dataset/dataset/vehicle_dataset/val/mini-truck/0_32974_16-31-50_011967.jpg, ../vehicle_dataset/dataset/vehicle_dataset/val/mini-truck/3_13647_16-40-13_004476.jpg, ../vehicle_dataset/dataset/vehicle_dataset/val/mini-truck/5_30740_16-40-13_000337.jpg, ../vehicle_dataset/dataset/vehicle_dataset/val/mini-truck/7_14443_16-40-13_005411.jpg, ../vehicle_dataset/dataset/vehicle_dataset/val/mini-truck/7_15057_16-31-50_008514.jpg]       0.968706      5
502                                                                                                                                                                                                                                                                                                                                                      [../vehicle_dataset/dataset/vehicle_dataset/val/truck/11_32847_16-40-13_023556.jpg, ../vehicle_dataset/dataset/vehicle_dataset/val/truck/13_18775_16-40-13_020453.jpg, ../vehicle_dataset/dataset/vehicle_dataset/val/truck/6_15020_16-40-13_013169.jpg, ../vehicle_dataset/dataset/vehicle_dataset/val/truck/7_3561_16-31-50_004107.jpg]       0.966033      4

In [7]:
# First sample from each cluster that is kept
cluster_images_to_keep = []
list_of_duplicates = []

for cluster_file_list in clusters_df.filename:
    # keep first file, discard rest
    keep = cluster_file_list[0]
    discard = cluster_file_list[1:]
    
    cluster_images_to_keep.append(keep)
    list_of_duplicates.extend(discard)

print(f"Found {len(set(list_of_duplicates))} highly similar images to discard")

Found 32 highly similar images to discard

In [8]:
import os
# Remove each file
for file_path in list_of_duplicates:
    try:
        os.remove(file_path)
        print(f"Removed: {file_path}")
    except FileNotFoundError:
        print(f"File not found: {file_path}")
    except Exception as e:
        print(f"Error removing {file_path}: {e}")

Removed: ../vehicle_dataset/dataset/vehicle_dataset/val/truck/10_32132_13-12-37_007261.jpg
Removed: ../vehicle_dataset/dataset/vehicle_dataset/val/truck/13_7061_14-31-49_038468.jpg
Removed: ../vehicle_dataset/dataset/vehicle_dataset/val/truck/16_15467_15-31-49_027265.jpg
Removed: ../vehicle_dataset/dataset/vehicle_dataset/val/truck/19_10615_16-01-50_010927.jpg
Removed: ../vehicle_dataset/dataset/vehicle_dataset/val/truck/5_13099_13-12-37_004872.jpg
Removed: ../vehicle_dataset/dataset/vehicle_dataset/val/truck/6_58739_13-12-37_001709.jpg
Removed: ../vehicle_dataset/dataset/vehicle_dataset/val/truck/8_35815_14-31-49_027972.jpg
Removed: ../vehicle_dataset/dataset/vehicle_dataset/val/van/1_2out06-30-0566.png
Removed: ../vehicle_dataset/dataset/vehicle_dataset/val/van/14_2out07-00-06166.png
Removed: ../vehicle_dataset/dataset/vehicle_dataset/val/van/2_2out06-30-08120.png
Removed: ../vehicle_dataset/dataset/vehicle_dataset/val/van/3_2out06-30-0516.png
Removed: ../vehicle_dataset/dataset/vehicle_dataset/val/van/4_2out06-00-07259.png
Removed: ../vehicle_dataset/dataset/vehicle_dataset/val/van/5_2out06-30-08222.png
Removed: ../vehicle_dataset/dataset/vehicle_dataset/val/auto-rickshaw/12_43149_15-31-49_032590.jpg
Removed: ../vehicle_dataset/dataset/vehicle_dataset/val/auto-rickshaw/14_13398_15-31-49_029856.jpg
Removed: ../vehicle_dataset/dataset/vehicle_dataset/val/auto-rickshaw/18_23291_15-31-49_029036.jpg
Removed: ../vehicle_dataset/dataset/vehicle_dataset/val/auto-rickshaw/24_23654_15-31-49_030169.jpg
Removed: ../vehicle_dataset/dataset/vehicle_dataset/val/auto-rickshaw/35_26906_15-31-49_032374.jpg
Removed: ../vehicle_dataset/dataset/vehicle_dataset/val/mini-truck/3_13647_16-40-13_004476.jpg
Removed: ../vehicle_dataset/dataset/vehicle_dataset/val/mini-truck/5_30740_16-40-13_000337.jpg
Removed: ../vehicle_dataset/dataset/vehicle_dataset/val/mini-truck/7_14443_16-40-13_005411.jpg
Removed: ../vehicle_dataset/dataset/vehicle_dataset/val/mini-truck/7_15057_16-31-50_008514.jpg
Removed: ../vehicle_dataset/dataset/vehicle_dataset/val/truck/13_18775_16-40-13_020453.jpg
Removed: ../vehicle_dataset/dataset/vehicle_dataset/val/truck/6_15020_16-40-13_013169.jpg
Removed: ../vehicle_dataset/dataset/vehicle_dataset/val/truck/7_3561_16-31-50_004107.jpg
Removed: ../vehicle_dataset/dataset/vehicle_dataset/val/van/6_2out07-00-06203.png
Removed: ../vehicle_dataset/dataset/vehicle_dataset/val/van/7_2out06-00-05161.png
Removed: ../vehicle_dataset/dataset/vehicle_dataset/val/auto-rickshaw/21_43563_15-31-49_029507.jpg
Removed: ../vehicle_dataset/dataset/vehicle_dataset/val/mini-truck/2_12438_16-40-13_015851.jpg
Removed: ../vehicle_dataset/dataset/vehicle_dataset/val/mini-truck/5_13866_16-40-13_020176.jpg
Removed: ../vehicle_dataset/dataset/vehicle_dataset/val/van/3_49873_16-01-50_010879.jpg
Removed: ../vehicle_dataset/dataset/vehicle_dataset/val/van/2_2out06-00-07201.png

In [9]:
outlier_df = fd.outliers()
outlier_df.head()

   outlier  nearest  distance                                                                                  filename_outlier  index_x error_code_outlier  is_valid_outlier  fd_index_outlier                                                                               filename_nearest  index_y error_code_nearest  is_valid_nearest  fd_index_nearest
0      466      195  0.542719                   ../vehicle_dataset/dataset/vehicle_dataset/val/motorcycle/4_2out19-17-50217.png      466              VALID              True               466                   ../vehicle_dataset/dataset/vehicle_dataset/val/bicycle/3_2out07-16-08221.png      195              VALID              True               195
1      559      219  0.585810                  ../vehicle_dataset/dataset/vehicle_dataset/val/truck/4_60938_23-10-21_001325.jpg      559              VALID              True               559                 ../vehicle_dataset/dataset/vehicle_dataset/val/bus/1_19348_15-31-49_000825.jpg      219              VALID              True               219
2      214      145  0.614933          ../vehicle_dataset/dataset/vehicle_dataset/val/bus/0_vlcsnap-2020-01-24-12h46m25s731.png      214              VALID              True               214                  ../vehicle_dataset/dataset/vehicle_dataset/val/bicycle/13_2out07-00-10151.png      145              VALID              True               145
3      446      274  0.634265  ../vehicle_dataset/dataset/vehicle_dataset/val/motorcycle/19_vlcsnap-2020-01-24-12h55m29s297.png      446              VALID              True               446      ../vehicle_dataset/dataset/vehicle_dataset/val/car/12_vlcsnap-2020-01-24-12h04m05s354.png      274              VALID              True               274
4      187      487  0.667698      ../vehicle_dataset/dataset/vehicle_dataset/val/bicycle/2_vlcsnap-2020-01-24-12h33m00s621.png      187              VALID              True               187  ../vehicle_dataset/dataset/vehicle_dataset/val/rickshaw/0_vlcsnap-2020-01-24-13h01m40s300.png      487              VALID              True               487

In [10]:
list_of_outliers = outlier_df[outlier_df.distance < 0.68].filename_outlier.tolist()
list_of_outliers

['../vehicle_dataset/dataset/vehicle_dataset/val/motorcycle/4_2out19-17-50217.png',
 '../vehicle_dataset/dataset/vehicle_dataset/val/truck/4_60938_23-10-21_001325.jpg',
 '../vehicle_dataset/dataset/vehicle_dataset/val/bus/0_vlcsnap-2020-01-24-12h46m25s731.png',
 '../vehicle_dataset/dataset/vehicle_dataset/val/motorcycle/19_vlcsnap-2020-01-24-12h55m29s297.png',
 '../vehicle_dataset/dataset/vehicle_dataset/val/bicycle/2_vlcsnap-2020-01-24-12h33m00s621.png',
 '../vehicle_dataset/dataset/vehicle_dataset/val/truck/1_37606_23-40-22_001142.jpg',
 '../vehicle_dataset/dataset/vehicle_dataset/val/motorcycle/21_2out17-05-28231.png',
 '../vehicle_dataset/dataset/vehicle_dataset/val/bicycle/3_2out07-16-08221.png',
 '../vehicle_dataset/dataset/vehicle_dataset/val/bicycle/5_2out20-47-50318.png',
 '../vehicle_dataset/dataset/vehicle_dataset/val/truck/1_25053_15-31-49_035312.jpg',
 '../vehicle_dataset/dataset/vehicle_dataset/val/bus/5_vlcsnap-2020-01-24-12h31m17s156.png',
 '../vehicle_dataset/dataset/vehicle_dataset/val/truck/2_5754_06-30-09_001126.jpg']

In [11]:
# Remove each file
for file_path in list_of_outliers:
    try:
        os.remove(file_path)
        print(f"Removed: {file_path}")
    except FileNotFoundError:
        print(f"File not found: {file_path}")
    except Exception as e:
        print(f"Error removing {file_path}: {e}")

Removed: ../vehicle_dataset/dataset/vehicle_dataset/val/motorcycle/4_2out19-17-50217.png
Removed: ../vehicle_dataset/dataset/vehicle_dataset/val/truck/4_60938_23-10-21_001325.jpg
Removed: ../vehicle_dataset/dataset/vehicle_dataset/val/bus/0_vlcsnap-2020-01-24-12h46m25s731.png
Removed: ../vehicle_dataset/dataset/vehicle_dataset/val/motorcycle/19_vlcsnap-2020-01-24-12h55m29s297.png
Removed: ../vehicle_dataset/dataset/vehicle_dataset/val/bicycle/2_vlcsnap-2020-01-24-12h33m00s621.png
Removed: ../vehicle_dataset/dataset/vehicle_dataset/val/truck/1_37606_23-40-22_001142.jpg
Removed: ../vehicle_dataset/dataset/vehicle_dataset/val/motorcycle/21_2out17-05-28231.png
Removed: ../vehicle_dataset/dataset/vehicle_dataset/val/bicycle/3_2out07-16-08221.png
Removed: ../vehicle_dataset/dataset/vehicle_dataset/val/bicycle/5_2out20-47-50318.png
Removed: ../vehicle_dataset/dataset/vehicle_dataset/val/truck/1_25053_15-31-49_035312.jpg
Removed: ../vehicle_dataset/dataset/vehicle_dataset/val/bus/5_vlcsnap-2020-01-24-12h31m17s156.png
Removed: ../vehicle_dataset/dataset/vehicle_dataset/val/truck/2_5754_06-30-09_001126.jpg